<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donate</title>
    <style>
      .main-box {
        width: 500px;
        height: 600px;
        max-width: 100%;
        position: relative;
        left: 35%;
        text-align: center;
        padding-top: 10px;
        border: 3px solid black;
        justify-content: center;
        display: flex;
      }

      .main-box img {
        height: 580px;
        width: 400px;
      }
    </style>
  </head>
  <body>
    <div class="main-box">
      <div>
        <img src="./static/img/qr_code.jpeg" alt="logo" class="brand__img" />
      </div>
    </div>
  </body>
</html>
