<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./static/css/styles.css" /> -->
    <style>
      .cont {
        text-align: center;
      }
      /* body {
        display: grid;
        width: 1100px;
        margin: auto;
        height: auto;
        padding: 20px;
      } */
      .box-11 {
        display: flex;
        width: 1300px;
        margin: auto;
        height: auto;
        padding: 20px;
      }
      .box-11 img {
        height: 400px;
        width: 600px;
      }
    </style>
  </head>
  <body>
    <div class="cont">
      <h1>Slow Sand Filtration</h1>
      <div class="box-11">
        <div>
          <h4>
            Slow sand filtration is a type of water purification system on a
            centralised or semi-centralised level
          </h4>
          <br />
          <h4>
            Working Principle: <br />
            Freshwater flows through a sand-bed with a thin layer populated by
            microorganisms. Hereby, the water gets purified through various
            biological, physical and chemical processes.
          </h4>
          <br />
          Performance 100-300 litres per hour per m2 of surface <br />
          → rather slow rate <br />
          → large land demand
        </div>
        <div>
          <img src="./static/img/slow sand filtration.png" alt="" />
        </div>
      </div>
    </div>

    <div class="cont">
      <h1>Rapid Sand Filtration</h1>
      <div class="box-11">
        <div>
          <img src="./static/img/rapid sand filtration.jpg" alt="" />
        </div>
        <div>
          <h4>
            Rapid sand filtration is a technique common in developed countries
            for treating large quantities of drinking water. It is a relatively
            sophisticated process usually requiring power-operated pumps for
            backwashing or cleaning the filter bed, and flow control of the
            filter outlet
          </h4>
          <br />
          <h4>
            Working Principle: <br />
            Rapid sand filters use relatively coarse sand and other granular
            media to remove particles and impurities that have been trapped in a
            floc through the use of flocculation chemicals—typically alum.
          </h4>
          <br />
          Performance 4,000-12,000 litres per hour per m2 of surface <br />
          → high rate <br />
          → small land requirement
        </div>
      </div>
    </div>

    <div class="cont">
      <h1>Reverse Osmosis</h1>
      <div class="box-11">
        <div>
          <h4>
            Reverse osmosis removes contaminants from unfiltered water, or feed
            water, when pressure forces it through a semipermeable membrane.
            Water flows from the more concentrated side (more contaminants) of
            the RO membrane to the less concentrated side (fewer contaminants)
            to provide clean drinking water. A semipermeable membrane has small
            pores that block contaminants but allow water molecules to flow
            through. In osmosis, water becomes more concentrated as it passes
            through the membrane to obtain equilibrium on both sides. Reverse
            osmosis, however, blocks contaminants from entering the less
            concentrated side of the membrane.
          </h4>
          <br />
          <h4>
            Working Principle: <br />
            A reverse osmosis system removes sediment and chlorine from water
            with a prefilter before it forces water through a semipermeable
            membrane to remove dissolved solids. After water exits the RO
            membrane, it passes through a postfilter to polish the drinking
            water before it enters a dedicated faucet. Reverse osmosis systems
            have various stages depending on their number of prefilters and
            postfilters.
          </h4>
          <br />
        </div>
        <div>
          <img src="./static/img/reverse osmosis.jpeg" alt="" />
        </div>
      </div>
    </div>

    <div class="cont">
      <h1>Chlorination</h1>
      <div class="box-11">
        <div>
          <img src="./static/img/chlorination.jpeg" alt="" />
        </div>
        <div>
          <h4>
            Chlorination is the process of adding chlorine to drinking water to
            kill parasites, bacteria, and viruses. Different processes can be
            used to achieve safe levels of chlorine in drinking water. Using or
            drinking water with small amounts of chlorine does not cause harmful
            health effects and provides protection against waterborne disease
            outbreaks.
          </h4>
          <br />
          <h4>
            Working Principle: <br />
            Chlorine is available as compressed elemental gas, sodium
            hypochlorite solution (NaOCl) or solid calcium hypochlorite Ca(OCl)2
            This makes it easier to apply as a disinfectant in medical areas,
            next to its use as a bleach. When bleaching powder dissolves, it
            reacts with water to underchloric acid (HOCl) and hypochlorite ions
            (OCl-). Chlorine kills pathogens such as bacteria and viruses by
            breaking the chemical bonds in their molecules.
          </h4>
        </div>
      </div>
    </div>

    <div class="cont">
      <h1>UV Disinfection System</h1>
      <div class="box-11">
        <div>
          <h4>
            UV Disinfection System is an extremely effective way to combat
            microbial contamination in water. However, microbes have to be
            exposed to UV-C light in the proper amount in order to effectively
            disinfect the water. UV Disinfection Systems are used in many
            different applications ranging from the purification of drinking
            water in individual homes to disinfecting the water supply of entire
            townships to industrial wastewater treatment. UV treatment for water
            is recognized as a safer and more cost-effective way to disinfect
            water for industrial applications
          </h4>
          <br />
          <h4>
            Working Principle: <br />
            In the UV water disinfection technology, the UV light disinfects by
            penetrating microorganisms and destroying their DNA. DNA plays an
            important role in organisms’ functions and reproduction hence
            destroying the DNA prevents the organism from being active and
            multiplying. This UV energy (wavelength of 240-280 nm) is also
            naturally found in sunlight in very small quantities. The same
            energy is produced at stronger intensities with the help of high
            mercury discharge lamps, commonly known as UV lamps.
          </h4>
        </div>
        <div>
          <img src="./static/img/uv.jpeg" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
